@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Important */
@import "tailwindcss";

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-to-left {
  display: flex;
  animation: moveLeft 40s linear infinite;
  width: max-content;
}

.animate-to-right {
  display: flex;
  animation: moveRight 40s linear infinite;
  width: max-content;
}

.custom-checkbox {
  appearance: none;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border: 1px solid #c4c4c4;
  /* border-gray-500 */
  border-radius: 0.25rem;
  /* Adjust if you want rounder corners */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  /* Ensures the background is white */
}

.custom-checkbox:checked::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  /* bg-primary-blue */
  border-radius: 0.25rem;
  /* Adjust if you want rounder corners */
  border: 1px solid #ffffff;
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 0.5rem;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  left: 0.35rem;
  top: 0.2rem;
}

.custom-radio {
  appearance: none;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  border: 1px solid #c4c4c4; /* border-gray-500 */
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-radio:checked::before {
  content: "";
  border: 1px solid #EF644C; /* border-primary-blue */
  background-color: #EF644C; /* bg-primary-blue */
  position: absolute;
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
}

.my-custome-radio input[type="radio"] {
  accent-color: #EF644C;
}

.my-radio-btns input {
  accent-color: #EF644C !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
